METIS_API_KEY= tpsg-DgBe8Uwf67RboPBfirdjQKgvXXbYXp5
DIVAR_API_KEY="eyJhbGciOiJSUzI1NiIsImtpZCI6InByaXZhdGVfa2V5XzIiLCJ0eXAiOiJKV1QifQ.eyJhcHBfc2x1ZyI6InNwcmluZy1yb2FuLW5pbmphIiwiYXVkIjoic2VydmljZXByb3ZpZGVycyIsImV4cCI6MTc1MzcwMjY3NiwianRpIjoiNWQzZDBmMjctM2M4MS0xMWYwLTk4NGQtZWExNDRhMjEzYmQyIiwiaWF0IjoxNzQ4NTE4Njc2LCJpc3MiOiJkaXZhciIsInN1YiI6ImFwaWtleSJ9.YfGTsENl7zrMgXA579NNUVG1-p7GkBPAWGj6S5_2ihHhHhqREsMvs0AhW3fzhsZElM8ChgYDq2dqtg1r8iEsU8AOdyu4SdJ4LcLd680tmdvsc4DPGy1OfKvD_cyL5CYQEJeKl-0TMgDXg2xHwqWFRSsAY22aW9Ys3-nEe3py1w98m2Wk6kPAT0KqbwJTCLTDHGVUduz9CcMKIfUinM1kugTAjle6tJyCMo-EJQhORdtNqCcdu5s79t2i_V30a-zGm6lLJd1U4p8QjzJLsFN2CPDEq9Jh-2ICLAWd2_oyB5QdM-IRyqUo5qpynDYZDkxfLo3tQKm9xKRiGxylsJ8MUg"